<div class="row">
  <div class="col">
    <img src="{{robot.image}}" width="300" height="300" />
  </div>
  <div class="col">
    <h1>{{robot.name}}</h1>
    <h3>Price: $ {{robot.price}} </h3>
  </div>
</div>